.result-table {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-navigation {
  padding-top: 15px;
  padding-bottom: 0;
}

.pagination {
  flex-wrap: wrap;
}

.table-responsive {
  height: 690px;
}

a {
  color: #007bff;
  cursor: pointer;
}

li.disabled {
  border-bottom: 2px solid #007bff;
}

@media (max-height: 900px) {
  .table-responsive {
    height: 420px;
  }
}
