<div class="authpage">
  <div class="authpage-forms">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active" >Cadastrar</a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>