.authpage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 128px;
  background-color: #f5f5f5;
}

.authpage-forms {
  width: 350px;
  height: auto;
}

.authpage .nav-tabs {
  border-bottom: 1px solid #812fda;
}

.authpage .nav-link:not(.active) {
  font-weight: normal;
  background-color: #fefefe;
  color: #812fdaaa;
  font-weight: 500;
  border-right: none;
  border-color: #e9ecef #e9ecef #812fda;
  transition: all 0.5s;
}

.authpage .nav-link:not(.active):hover {
  background-color: #fff;
  color: #812fda;
  font-weight: 500;
}

.authpage .active {
  background-color: #fff;
  color: #812fda;
  font-weight: 500;
  cursor: default;
}
