<div class="date-collection">

  <div *ngIf="result && result.length > 0" class="result-table">
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">Município</th>
            <th scope="col">Média de venda</th>
            <th scope="col">Média de compra</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of result">
            <td>{{item.provider}}</td>
            <td>{{item.avg_sale_price | currency:'BRL'}}</td>
            <td>{{item.avg_purchase_price | currency:'BRL'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation" class="page-navigation">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{disabled: page === 1}">
          <a class="page-link" (click)="first()">Primeira</a>
        </li>
        <li class="page-item" [ngClass]="{disabled: page === 1}">
          <a class="page-link" aria-label="Previous" (click)="previous()" data-toggle="tooltip" title="Página Anterior">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let item of getArrNumberPages()" [ngClass]="{disabled: page === item}">
          <a class="page-link" (click)="getPage(item)">{{item}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled: page === maxPages}">
          <a class="page-link" aria-label="Next" (click)="next()" data-toggle="tooltip" title="Próxima página">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Próximo</span>
          </a>
        </li>
        <li class="page-item" [ngClass]="{disabled: page === maxPages}">
          <a class="page-link" (click)="last()">Última</a>
        </li>
      </ul>
    </nav>
  </div>
  <div *ngIf="result && result.length === 0" #notFound>
    <p>
      Nada encontrado!
    </p>
  </div>

</div>