<div class="register forms">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" formControlName="name" placeholder="Informe seu nome" required>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Informe seu e-mail"
        required>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Senha</label>
      <input type="password" class="form-control" id="password" formControlName="password"
        placeholder="Informe sua senha" required>
    </div>
    <button type="submit" class="btn" [disabled]="!registerForm.valid">Salvar</button>

    <app-form-errors [formBuilder]="registerForm" [friendlyName]="getFriendlyName()"></app-form-errors>
  </form>
</div>