<header class="header">
  <div class="title">
    <h2 class="title">API Histórico de Preço</h2>
  </div>
  <div class="logout">
    <button (click)="logout()" class="btn btn-link">
      <i class="material-icons">exit_to_app</i>
      Sair
    </button>
  </div>
</header>