.header {
  width: 100%;
  height: 101px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  color: #812fda;
  border-bottom: 1px solid #dfdfdf;
}

.header .title {
  display: flex;
  justify-content: center;
  width: 95%;
  padding-left: 2%;
}

.header .logout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
}

.header .logout i {
  padding: 0 5px;
}

.header .logout button {
  display: flex;
  color: #812fdaaa;
  font-weight: 500;  
}

.header .logout button:hover {
  color: #812fda;
  text-decoration: none;
}


@media (max-width: 1600px) {
  .header {
    height: 71px;
  }
}