<div class="avg">
  <div class="search">
    <div class="form-group-inline">
      <label for="searchTerm">
        Nome do Município
        <small class="text-muted">*Sem acentuação</small>
      </label>
      <div *ngIf="loading" class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="material-icons">search</i></div>
        </div>
        <input type="text" class="form-control" id="searchTerm" (keyup)="searchTerm.next($event)"
          placeholder="Ex: RIO DE JANEIRO">
      </div>
    </div>
  </div>

  <div *ngIf="result && result.length > 0" class="table-responsive">
    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col">Combustível</th>
          <th scope="col">Média de Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of result">
          <td>{{item.name}}</td>
          <td>{{ item.avg | currency:'BRL'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="result && result.length === 0" #notFound>
    <p>
      Município não encontrado!
    </p>
  </div>

</div>