<div *ngIf="formBuilder.invalid">
  <div *ngFor="let control of errorControls()" class="alert alert-danger" role="alert">
    <div *ngIf="control.errors && control.errors?.required">
      {{control.name}} é obrigatório.
    </div>
    <div *ngIf="control.errors?.minlength || false">
      {{control.name}} deve ter no mínimo {{control.errors.minlength.requiredLength}} caracteres.
    </div>
    <div *ngIf="control.errors?.email || false">
      {{control.name}} deve ser um e-mail válido.
    </div>
  </div>
</div>