<div id="loading">
  <div class="loading-upload">
    <h5>Importando arquivo</h5>
    <div class="lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

</div>