.forms {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-top: none;
}

.forms form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.forms form button[type='submit'] {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
  background-color: #812fda;
  opacity: 1;
}

.forms form button[type='submit']:hover {
  opacity: 0.9;
}
