<div class="login forms">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Informe seu e-mail">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Senha</label>
      <input type="password" class="form-control" id="password" formControlName="password"
        placeholder="Informe sua senha">
    </div>
    <button type="submit" class="btn" [disabled]="!loginForm.valid">Entrar</button>
    <app-form-errors [formBuilder]="loginForm" [friendlyName]="getFriendlyName()"></app-form-errors>
  </form>
</div>