<div class="home" id="root">
  <app-sidebar></app-sidebar>
  <div class="main">
    <app-header>HEADER</app-header>
    <app-main>
      <router-outlet></router-outlet>
    </app-main>
  </div>
</div>
<app-loading></app-loading>