<aside class="sidebar">
  <header>
    <input type="checkbox" id="menu" onclick="toggleMenu()">

    <label for="menu" class="expanded">
      <i class="material-icons">arrow_back</i> API
    </label>

    <label for="menu" class="repressed">
      <i class="material-icons">menu</i>
    </label>
  </header>
  <main>
    <ul>
      <li>
        <a [routerLink]="['upload']" routerLinkActive="active" data-toggle="tooltip" title="Importar CSV">
          <i class="material-icons">cloud_upload</i> Importar CSV
        </a>
      </li>
      <li>
        <a [routerLink]="['pricehistories/avg']" routerLinkActive="active" data-toggle="tooltip"
          title="Média de preço de combustível com base no nome do município">
          <i class="material-icons">local_atm</i> Combustível Por Município
        </a>
      </li>
      <li>
        <a [routerLink]="['pricehistories/region']" routerLinkActive="active" data-toggle="tooltip"
          title="Todas as informações agrupadas por sigla da região">
          <i class="material-icons">satellite</i> Histórico Por Região
        </a>
      </li>
      <li>
        <a [routerLink]="['pricehistories/distributor']" routerLinkActive="active" data-toggle="tooltip"
          title="Todas as informações agrupados por distribuidora">
          <i class="material-icons">local_convenience_store</i> Histórico Por Distribuidor
        </a>
      </li>
      <li>
        <a [routerLink]="['pricehistories/date-collection']" routerLinkActive="active" data-toggle="tooltip"
          title="Todas as informações agrupadas pela data da coleta">
          <i class="material-icons">date_range</i> Histórico Por Data da Coleta
        </a>
      </li>
      <li>
        <a [routerLink]="['pricehistories/avg-city']" routerLinkActive="active" data-toggle="tooltip"
          title="Valor médio do valor da compra e do valor da venda por município">
          <i class="material-icons">local_atm</i> Compra/Venda Por Município
        </a>
      </li>
      <li>
        <a [routerLink]="['pricehistories/avg-provider']" routerLinkActive="active" data-toggle="tooltip"
          title="Valor médio do valor da compra e do valor da venda por bandeira">
          <i class="material-icons">business</i> Compra/Venda Por Bandeira
        </a>
      </li>
    </ul>
  </main>
</aside>

<script src="assets/js/menu.js"></script>