// @import url('material-icons.css');

.sidebar {
  position: relative;
  z-index: 100;
  width: 350px;
  height: max-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  transition: all 1s;
}

.sidebar header {
  display: flex;
  padding-left: 64px;
  align-items: center;
  height: 100px;
  color: #812fda;
  font-weight: 500;
  transition: all 1s;
}

.sidebar.repressed {
  width: 80px;
}

.sidebar.repressed header {
  padding-left: 15px;
  transition: all 1s;
}

.sidebar.repressed header .expanded {
  display: none;
}

.sidebar.repressed header .repressed {
  display: inline;
}

// .sidebar.repressed

.sidebar header input {
  transition: all 0.5s;
  box-sizing: border-box;
  display: none;
}

.sidebar header label {
  font-size: 2em;
}

.sidebar header label.expanded {
  display: inline;
}

.sidebar header label.repressed {
  display: none;
}

.sidebar header label i {
  font-size: 24px;
  padding: 1rem;
}

.sidebar main {
  background-color: #fff;
  height: max-content;
}

.sidebar main ul li {
  width: 100%;
  height: 80px;

  border-top: 1px solid #dfdfdf;
}

.sidebar main ul li:last-child {
  border-bottom: 1px solid #dfdfdf;
}

.sidebar main ul li a i {
  padding: 1.25rem;
}

.sidebar main ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 64px;
  font: 500 16px/19px Roboto;
  color: #3d4465;
  cursor: pointer;
}

.sidebar.repressed main ul li a {
  padding: 0 15px;
  font-size: 0;
}

.sidebar.repressed main ul li a.active {
  padding: 0 7px;
}

.sidebar.repressed main ul li a i {
  padding: 1rem;
}

.sidebar main ul li a:hover {
  color: #5f7ed6;
}

.sidebar main ul li a:active {
  color: #4264c0;
}

.sidebar main ul li a.active {
  border-left: 8px solid #5f7ed6;
  color: #5f7ed6;
  padding: 0 56px;
}

@media (max-width: 1600px) {
  .sidebar {
    position: relative;
    z-index: 100;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    transition: all 1s;
  }

  .sidebar header {
    display: flex;
    padding-left: 10px;
    align-items: center;
    height: 70px;
    color: #812fda;
    font-weight: 500;
    transition: all 1s;
  }

  .sidebar main ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font: 500 14px/17px Roboto;
    color: #3d4465;
    cursor: pointer;
    transition: all 1s;
  }

  .sidebar main ul li a.active {
    border-left: 8px solid #5f7ed6;
    color: #5f7ed6;
    padding: 0 2px;
  }
}
