.content {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 15px;
  min-height: calc(100% - 101px);
  height: calc(100vh - 101px);
}

.container-fluid {
  background-color: #fff;
  padding: 25px;
  padding-bottom: 0;
}

@media (max-width: 1600px) {
  .content {
    min-height: calc(100% - 71px);
    height: calc(100vh - 71px);
  }
}