/* You can add global styles to this file, and also import other style files */
@import url('./assets/css/fonts.css');
@import url('./assets/css/material-icons.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: contents;
  color: inherit;
}

a:hover {
  text-decoration: none;
}
