<div class="upload">
  <h1>Importar arquivo CSV</h1>
  <div class="forms">
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="file">Arquivo CSV</label>
        <input #file type="file" class="form-control-file" id="file" formControlName="file" accept=".csv"
          (change)="addFile()">
      </div>
      <button type="submit" class="btn" [disabled]="!uploadForm.valid">Enviar</button>
      <app-form-errors [formBuilder]="uploadForm" [friendlyName]="getFriendlyName()"></app-form-errors>
    </form>
  </div>
</div>