@import url('../../../assets/css/forms.css');

.upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: max-content;
  min-height: 100%;
  align-items: center;
  background-color: #fff;
  padding-top: 50px;
}

.upload .forms {
  width: 400px;
  padding: 25px;
  margin-top: 25px;
  border: none;
  box-shadow: 0 0 5px 0 #000;
}
