<div class="region">
  <div class="search">
    <div class="form-group-inline">
      <label for="searchTerm">
        Sigla da Região
      </label>
      <div *ngIf="loading" class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="material-icons">search</i></div>
        </div>
        <input type="text" class="form-control" id="searchTerm" (keyup)="searchTerm.next($event)" placeholder="Ex: NE">
      </div>
    </div>
  </div>

  <div *ngIf="result && result.length > 0" class="result-table">
    <div class="table-responsive">
      <table class="table table-hover table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Região</th>
            <th scope="col">Estado</th>
            <th scope="col">Município</th>
            <th scope="col">Distribuidor</th>
            <th scope="col">Código de instalação</th>
            <th scope="col">Produto</th>
            <th scope="col">Data da coleta</th>
            <th scope="col">Valor de compra</th>
            <th scope="col">Valor de venda</th>
            <th scope="col">Unidade de medida</th>
            <th scope="col">Bandeira</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of result">
            <td>{{item.id}}</td>
            <td>{{item.region}}</td>
            <td>{{item.state}}</td>
            <td>{{item.city}}</td>
            <td>{{item.distributor}}</td>
            <td>{{item.dist_product_id}}</td>
            <td>{{item.product}}</td>
            <td>{{item.collection_date | date:'dd/MM/yyyy'}}</td>
            <td>{{item.purchase_price | currency:'BRL'}}</td>
            <td>{{item.sale_price | currency:'BRL'}}</td>
            <td>{{item.unit}}</td>
            <td>{{ item.provider}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation" class="page-navigation">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{disabled: page === 1}">
          <a class="page-link" (click)="first()">Primeira</a>
        </li>
        <li class="page-item" [ngClass]="{disabled: page === 1}">
          <a class="page-link" aria-label="Previous" (click)="previous()" data-toggle="tooltip" title="Página Anterior">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
        <li class="page-item" *ngFor="let item of getArrNumberPages()" [ngClass]="{disabled: page === item}">
          <a class="page-link" (click)="getPage(item)">{{item}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled: page === maxPages}">
          <a class="page-link" aria-label="Next" (click)="next()" data-toggle="tooltip" title="Próxima página">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Próximo</span>
          </a>
        </li>
        <li class="page-item" [ngClass]="{disabled: page === maxPages}">
          <a class="page-link" (click)="last()">Última</a>
        </li>
      </ul>
    </nav>
  </div>
  <div *ngIf="result && result.length === 0" #notFound>
    <p>
      Região não encontrada!
    </p>
  </div>

</div>